body {
  font-family: 'Bazar Medium', sans-serif;
  box-sizing: border-box;
}

@mixin flexible {
  display: flex;
  justify-content: center;
}

.navbar {
  width: 100%;
  height: 100px;
  font-family: "Bazar Medium";
  background: lightblue;

  &__menu {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;

    &__link {
      padding: 8px 12px;
      text-transform: uppercase;
    }

    &__link:hover {
      transition: background-color 0.5s;
      background-color: #4e5052;
    }

    &__link a{
      color: #fff;
    }

    &__logo {
      position: relative;
      width: 54px;

      img {
        width: 54px;
      }

      span {
        position: absolute;
        left: 18px;
        bottom: 18px;
        font-size: large;
        color: #fff;
      }
    }
  }
}

.slider {
  width: 100%;
  height: 400px;
  background: lightblue;

  h1 {
    @include flexible;
    font-family: 'Seaside Resort NF Regular', sans-serif;
    text-transform: uppercase;
    color: #fff;
  }

  &__item {
    width: 160px;
    height: 30px;
    @include flexible;
    align-items: center;
    margin: 20px auto;
  }

  h4 {
    text-transform: uppercase;
  }

  &__slideshow {
    max-width: 612px;
    position: relative;
    margin: auto;

    &__image-slide {
      display: none
    }

    img {
      margin: auto;
      display: block;
      width: 160px;
    }

    &__button {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 8px 16px;
      margin-top: -22px;
      color: rgb(0, 0, 0);
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 50%;

      &_previous {
        left: 2%;

        &:hover {
          color: rgb(255, 253, 253);
          background-color: rgba(0, 0, 0, 0.8);
        }
      }

      &_next {
        right: 2%;

        &:hover {
          color: rgb(255, 253, 253);
          background-color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }

  &__gallery {
    width: 280px;
    height: 100px;
    margin: 20px auto;
    position: relative;
    background: #fff;

    p {
      position: absolute;
      bottom: 0;
      right: 120px;
    }
  }

  p {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #fff;
  }

  &__text {
    padding-top: 10px;
  }
}

.divider {
  display: flex;
  justify-content: center;
}

.about {
  width: 100%;


  h1 {
    @include flexible;
    text-transform: uppercase;
  }

  span {
    font-family: 'Roboto Slab Regular', serif;
    font-weight: bold;
  }

  h4 {
    @include flexible;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
  }

  &__categories {
    img[alt="ellipse-3"] {
      width: 40px;
      position: relative;
    }
  
    img[alt="ellipse-3-copy"] {
      width: 40px;
      position: absolute;
      top: 0;
      right: 0;
    }
  
    img[alt="tv"] {
      width: 26px;
      position: absolute;
      top: 10px;
      right: 7px;
    }
  
    img[alt="vinyl"] {
      width: 26px;
      position: absolute;
      top: 7px;
      right: 7px;
    }
  
    img[alt="t-shirt"] {
      width: 26px;
      position: absolute;
      top: 10px;
      right: 7px;
    }
  
    img[alt="food"] {
      width: 26px;
      position: absolute;
      top: 5px;
      right: 7px;
    }
  
    &__movies, &__music, &__clothes, &__food {
      width: 100%;
      display: flex;
      margin-bottom: 10px;
  
      &__head {
        width: 25%;
        @include flexible;
        flex-direction: column;
        align-items: center;
  
        &__picture {
          position: relative;
        }
        
        h2 {
          font-weight: normal;
          text-transform: uppercase;
        }
  
        p {
          font-family: 'Roboto', sans-serif;
        }
      }
  
      &__text {
        width: 75%;
        font-family: 'Roboto', sans-serif;
      }
    }
  
    &__food {
      margin-bottom: 0;
      padding-bottom: 10px;
    }
  
  }

  
  img[alt="rectangle-6"] {
    width: 30px;
  }
}

.portfolio {
  h1 {
    @include flexible;
    text-transform: uppercase;
  }

  h4 {
    @include flexible;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
  }

  &__filter {
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &__category {
      width: 170px;
      height: 46px;
      @include flexible;
      align-items: center;
      font-size: large;
      background-image: url('../img/tag.svg');
    }
  }

  span {
    font-family: 'Roboto Slab Regular', serif;
  }

  li {
    font-family: 'Roboto Slab Regular', serif;
    margin-right: 10px;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    margin: 20px auto;
    font-family: 'Roboto', sans-serif;

    &__project {
      height: 100%;
      border: solid 1px #ccd0d4;
      border-radius: 0.3rem;
      text-align: center;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .04);
      min-height: 404px;
      max-height: 800px;

      &:hover {
        background: darkmagenta;
        color: white;
        transition: background-color 1s, border-radius 1s, color 0.2s;
        border-radius: 40px;
      }

      &__text-hidden {
        display: none;
      }

      &:hover &__text-hidden {
        display: block;
      }

      &:hover img {
        display: none;
      }
    }

    img {
      width: 50%;
      height: 50%;
      border-radius: 50%;
      padding: 1rem;
      background-color: #f4f4f4;
    }
  }

  &__button {
    background: none;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__div {
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    img {
      width: 30px;
    }
  }
}

.blog {
  h1 {
    @include flexible;
    text-transform: uppercase;
  }

  h2 {
    @include flexible;
    text-transform: uppercase;
  }
  
  &__content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    font-family: 'Roboto', sans-serif;

    &__book {
      display: grid;
      grid-template-columns: 80px 1fr;
      grid-column-gap: 30px;
      margin-bottom: 10px;
      border: thin solid #d4d4d4;
      padding: 15px;

      img {
        width: 100%;
      }

      .title {
        font-size: 22px;
        font-weight: bold;
      }

      .about {
        font-size: 20px;
        margin-top: 7px;
        background: transparent;
      }

      .info {
        margin-top: 20px;
      }
    }

    &__button {
      display: block;
      width: 200px;
      height: 100px;
      font-size: 16px;
      margin: 50px auto;
      border: thin solid #e4e4e4;
      line-height: 60px;
      cursor: pointer;
      transition: box-shadow .2s;
      background-color: mediumpurple;
      border: none;

      &:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.contact {
  width: 100%;
  height: 500px;

  h1 {
    @include flexible;
    font-weight: normal;
    text-transform: uppercase;
    color: rgb(246, 237, 216);
  }

  h4 {
    @include flexible;
    text-transform: uppercase;
    color: rgb(246, 237, 216);
  }

  span {
    color: rgb(246, 237, 216);
  }

  &__form {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &__field {
      width: 50%;
      display: flex;
      flex-direction: column;

      input {
        border: solid 2px #f0f0f0;
      }

      small {
        font-family: 'Roboto', sans-serif;
      }
    }

    &__textarea {
      width: 50%;
    }

    &__submit {
      input {
        height: 50px;
        border-radius: 4px;
        border: none;
        background: white;
      }
    }

    &__field.success {
      input {
        border-color: #28a745;
      }
    }

    &__field.error {
      input {
        border-color: #dc3545;
      }
    }
    
    &__field.small {
        color: #dc3545;
    }
  }

  &__im-social {
    @include flexible;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/contact-section-bg.svg);

    img {
      width: 30px;
      margin-bottom: 10px;
    }

    h3 {
      text-transform: uppercase;
      color: rgb(246, 237, 216);
    }

    &__pictures {
      display: flex;
      justify-content: space-evenly;
    }

    &__picture {
      position: relative;
      width: 40px;
      height: 40px;

      img[alt="ellipse-6"] {
        width: 40px;
        position: relative;
      }
  
      img[alt="ellipse-6-copy"] {
        width: 40px;
        position: absolute;
        top: 0;
        right: 0;
      }
  
      img[alt="twitter-icon"], img[alt="fb-icon"], img[alt="inst-icon"], img[alt="youtube-icon"], img[alt="pinterest-icon"] {
        width: 26px;
        position: absolute;
        top: 7px;
        right: 7px;
        background: #000; 
        border-radius: 14px;
      }
    }
  }
}

.weather {
  padding-top: 20px;
  padding-bottom: 4%;
  font-family: 'Roboto', sans-serif;

  h1 {
    @include flexible;
    align-items: center;
    font-size: 20px;
  } 

  &__form {
    @include flexible;
    align-items: center;

    &__input {
      width: 200px;
      height: 30px;
      margin-right: 10px;
      border: none;
    }

    &__button {
      width: 100px;
      height: 32px;
      border: none;
      font-weight: bold;
    }
  }

  &__response {
    width: 60%;
    height: 150px;
    margin: 50px auto 0 auto;
    border-radius: 16px;
    background-color: lightcoral;

    &__temp {
      @include flexible;
    }

    &__desc {
      @include flexible;
    }
  }
}

.progress {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;

  &__container {
    width: 100%;
    height: 8px;
    background: lightblue;
  }

  &__bar {
    height: 8px;
    background: yellowgreen;
    width: 0%;
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 9999;

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100px;
    line-height: 100px;
    span {
      display: inline-block;
      margin: 0 5px;
      color: #fff;
      @for $i from 0 through 6 {
        &:nth-child(#{$i + 1}) {
          filter: blur(0px);
          animation: blur-text 1.5s (#{$i/5})+s infinite linear alternate;
        }
      }
    }
  }

  &.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
  }
}


@keyframes blur-text {
  0% {filter: blur(0px);}
  100% {filter: blur(4px);}
}



@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
      opacity: 0;
      visibility: hidden;
  }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;

  &.active {
      opacity: 1;
      pointer-events: all;
      transition: 0.5s all;
  }

  &__bg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      background: mediumpurple;
      width: 400px;
      padding: 25px;
      transition: 0.5s all;

      &.active {
          transform: translate(-50%, -50%) scale(1);
          transition: 0.5s all;
      }

      button {
          width: 100%;
          height: 45px;
          @include flexible;
          align-items: center;
          color: #fff;
          font-size: 18px;
          border: 2px solid #2982ff;
          background: #2982ff;
          cursor: pointer;
          text-transform: uppercase;
          transition: 0.5s all;

          &:hover {
              background: #fff;
              color: #2982ff;
              transition: 0.5s all;
          }
      }

      label {
          display: flex;
          justify-content: center;
      }
  }
}

@media screen and (min-width:400px) and (max-width:7000px) {
  .navbar {
    &__menu {
      height: 100%;
      @include flexible;
      align-items: center;
      margin: 0;

      &__link {
        margin-right: 100px;
      }

      &__logo {
        margin-right: 100px;

        img {
          width: 94px;
          margin-left: 16px;
        }

        span {
          position: absolute;
          left: 38px;
          bottom: 24px;
          font-size: 50px;
        }
      }
    }

  }

  .slider {
    height: 700px;
    padding-bottom: 10%;

    &__item {
      background-image: url('../img/ribbon.svg');
      width: 1235px;
      height: 135px;
    }

    &__text {
      margin-top: 200px;
    }
  }

  .about {
    &__categories {
      display: flex;

      &__movies, &__music, &__clothes, &__food {
        display: flex;
        flex-direction: column;
        margin-right: 20px;

        &__head {
          width: 100%;
        }

        &__text {
          width: 100%;
        }
      }
    }
  }

  .contact {
    height: 700px;
    padding-bottom: 12%;

    &__form {
      height: 400px;

      &__field {
        height: 70px;

        &__input {
          height: 70%;
        }
      }

      &__textarea {
        width: 50%;
        height: 100px;
      }
    }
  }

  .weather {
    &__response {
      padding-bottom: 4%;
    }
  }
}

@media (max-width: 700px) {
  .portfolio {
    &__container {
      grid-template-columns: 1fr;
      max-width: 320px;
    }
  }
}

.alert {
  @include flexible;
  background: green;
  width: 50%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

